<html ng-app="bibliotecaApp">
<head>
    <title>Index de prueba</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
</head>
<body ng-controller="mainController">
    
    <h1>AngularJS Demo</h1>
    
    <h2>Model Binding</h2>
    
    <p>
        AngularJs nos permite enlazar informaci&oacute;n (data-binds) tanto del HTMl hacia nuestro 
        c&oacute;digo Javascript como desde Javascript hacia el codigo HTML.
    </p>
    
    <form action="#" role="form">
        <div class="form-group">
            <label for="numberTextBox">Numero</label>
            <input ng-model="numero" type="number" id="numberTextBox" class="form-control" placeholder="Ingrese un numero">
        </div>
        
        <button type="button" ng-click="agregarNumero()">Agegar</button>
    </form>

    <p>Ha ingresado el n&uacute;mero <code>{{ numero | number }} ({{ numero }})</code> y elevado al cuadrado da como resultado <strong>{{ numeroAlCuadrado(numero) | number }}</strong></p>
    
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Cuadrado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="num in numeros">
                <td>{{ num | number : 2 }}</td>
                <td>{{ numeroAlCuadrado(num) | number }}</td>
                <td>
                    <a ng-click="eliminarNumero(num)" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/angular-1.0.8.js"></script>
    <script src="js/bootstrap-3.0.0.js"></script>
    <script src="js/index.js"></script>
    <script src="js/app-config.js"></script>
    
</body>
</html>